################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/barcelona_la_boqueria.jpg
/.vs
/bin/Debug
/DeviceClient/obj
/ImageGallery.API/bin
/ImageGallery.API/obj
/ImageGallery.Authorization/bin
/ImageGallery.Authorization/obj
/ImageGallery.Client/bin/Debug
/ImageGallery.Client/obj
/ImageGallery.Model/bin
/ImageGallery.Model/obj
/Marvin.IDP/bin
/Marvin.IDP/keys
/Marvin.IDP/obj
/mssql/obj/Docker
/obj
/docker-compose.dcproj.user
/DeviceClient/bin/Debug/net7.0
